@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');
@import "@material/textfield/mdc-text-field";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Cormorant Garamond', serif;
}

#header {
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
        width: 70px;
        filter: invert(100%);
    }
}

.container {
    padding: 20px;
    
    h1 {
        font-weight: 400;
    }
}

#verify-container {

}

#places-container {

}

#comments-container {
    color: white;
    background-color: black;
}